
.timeline {
    max-width: 750px;
}

.timeline .newPost {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0px 1px 5px var(--box-shadow-color);
}

.dark .timeline .newPost {
    background-color: var(--primary-dark-background-color);
    box-shadow: none;
}

.timeline .newPost img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.timeline .newPost form {
    display: flex;
    gap: 1rem;
    height: 60px;
    width: 100%;
}

.timeline .newPost textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}

.timeline .newPost textarea {
    color: var(--primary-dark-font-color);
}

.timeline .newPost button {
    font-weight: 600;
    color: white;
    background-color: var(--primary-background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dark .timeline .newPost button {
    color: var(--primary-dark-font-color);
    background-color: var(--secondary-dark-background-color);
}

.timeline .feed {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: solid .25px transparent;
}

.timeline .feed li {
    margin-bottom: 1rem;
}

.timeline .feed .seeMore {
    text-align: center;
    margin: 3rem;
}

@media all and (min-width: 1045px) {
    .timeline .newPost {
        border-radius: 5px;
        margin: 3rem;
    }
}
