
#photos ul li .photo-delete-section form fieldset {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    border: none;
}

#photos ul li .photo-delete-section form fieldset p {
    margin-top: 0;
}

#photos ul li .photo-delete-section form select {
    color: var(--primary-font-color);
    background-color: var(--secondary-color);
    padding: .25rem;
    border-radius: 15px;
    border: none;
}

#photos ul li .photo-delete-section form button {
    font-weight: 600;
    color: white;
    background-color: rgb(193, 3, 3);
    margin-top: 1rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#photos ul li .photo-delete-section .popup_mask {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 750px;
    background-color: rgba(0, 0, 0, 0.273);
    opacity: 0;
    transition-duration: .2s;
}

#photos ul li .photo-delete-section .confirm-delete_popup {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 1px 5px gray;
    transform: translateX(-50%);
}

.dark #photos ul li .photo-delete-section .confirm-delete_popup {
    background-color: var(--primary-color);
    box-shadow: none;
}

#photos ul li .photo-delete-section .popup_mask.active {
    z-index: 0;
    opacity: 1;
    transition-duration: .2s;
}

#photos ul li .photo-delete-section .confirm-delete_popup button {
    font-weight: 500;
    color: white;
    background-color: var(--target-color);
    margin-right: .5rem;
    padding: .25rem .5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media all and (min-width: 750px) {
    #photos ul li .photo-delete-section .popup_mask {
        left: calc(var(--sidemenu_max-width));
    }
}
