
.sidemenu {
    z-index: 2;
    position: fixed;
    top: var(--topbar-height);
    bottom: 0;
    left: -100%;
    color: var(--primary-font-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    padding-bottom: calc(1rem + var(--topbar-height));
    min-height: 100%;
    width: var(--sidemenu_width);
    overflow-x: hidden;
    overflow-y: scroll;
    transition-duration: .2s;
}

.sidemenu * {
    color: var(--primary-font-color);
}

.sidemenu.active {
    left: 0;
    transition-duration: .2s;
}

.sidemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidemenu ul li {
    margin-bottom: .5rem;
}

.sidemenu a {
    text-decoration: none;
    color: black;
}

.sidemenu p {
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.sidemenu p:hover {
    background-color: var(--hover-color);
}

.sidemenu ul li a article {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 1rem 1rem;
    border-radius: 5px;
}

.sidemenu ul li a article:hover {
    background-color: var(--hover-color);
}

.sidemenu ul li a article h3 {
    font-size: 1rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidemenu ul li a article img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 5px;
}

@media all and (min-width: 750px) {
    .sidemenu {
        position: sticky;
        top: 0;
        padding-bottom: 1rem;
        height: calc(100vh - var(--topbar-height));
        max-width: var(--sidemenu_max-width);
        transition-duration: 2ms;
    }

    .sidemenu nav,
    .sidemenu hr {
        display: none;
    }
}

@media all and (min-width: 900px) {
    .sidemenu {
        padding-left: 6rem;
        max-width: var(--sidemenu_max-width);
    }
}
