
body {
    background-color: var(--background-color);
    min-height: 100vh;
}

main {
    display: flex;
    max-height: calc(100vh - var(--topbar-height));
    overflow-y: hidden;
}

.loadingBGColor {
    background-color: lightgray;
    animation-name: color;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0% {
      background-color: lightgray;
    }
    50% {
      background-color: rgb(183, 183, 183);
    }
    100% {
      background-color: lightgray;
    }
  }

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.main-component {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
