
.topbar .searchbar {
    display: flex;
    align-items: center;
    background-color: rgb(184, 154, 159);
    padding: .25rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: inset rgb(86, 86, 86) 0px 0px 20px -12px;
    transition-duration: .2s;
}

.topbar .searchbar.focused {
    background-color: rgb(236, 226, 228);
    box-shadow: rgb(86, 86, 86) 0px 0px 20px -12px;
    transition-duration: .2s;
}

.topbar .dropdown {
    position: relative;
    width: 100%;
}

.topbar .dropdown_top {
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.topbar form button {
    background-color: transparent;
    height: 15px;
    border: none;
    cursor: pointer;
}

.topbar .searchbar img {
    height: 100%;
    width: 100%;
}

.topbar form input {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
}

.topbar .searchbar .dropdown_bottom {
    z-index: 2;
    position: absolute;
    top: -70px;
    left: -.25rem;
    background-color: white;
    padding: 0;
    width: calc(100% + .5rem);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0px 1px 5px grey;
    opacity: 0;
    pointer-events: none;
}

.topbar .searchbar .dropdown_bottom.active {
    top: 5px;
    opacity: 1;
    pointer-events: inherit;
}

.topbar .searchbar .dropdown_bottom li {
    margin: 0;
    padding: .1rem 0;
    list-style: none;
    cursor: pointer;
}

.topbar .searchbar .dropdown_bottom li:not(:last-child) {
    border-bottom: dashed .5px grey;
}

.topbar .searchbar .dropdown_bottom li:hover {
    background-color: lightgrey;
}

.topbar .searchbar .dropdown_bottom a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: black;

}

.topbar .searchbar .dropdown_bottom .profile-pic_wrapper {
    height: 25px;
    width: 25px;
}

.topbar .searchbar .dropdown_bottom h5 {
    font-weight: 500;
    margin: 0;
}
