
.topbar {
    z-index: 3;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    padding: 1rem;
    min-height: var(--topbar-height);
    width: 100%;
    transition-duration: .2s;
}

.dark .topbar {
    border-bottom: 1px solid var(--secondary-color);
}

.topbar a {
    text-decoration: none;
}

.topbar .logo {
    display: none;
    color: white;
}

.dark .topbar .logo {
    color: var(--primary-font-color);
}

.topbar .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: -1rem;
    cursor: pointer;
}

.topbar .hamburger-menu>div {
    background-color: rgb(184, 154, 159);
    height: 5px;
    width: 35px;
    border-radius: 1px;
    box-shadow: inset rgb(86, 86, 86) 0px 0px 20px -12px;
    transition-duration: .2s;
}

.dark .topbar .hamburger-menu>div {
    background-color: rgb(80, 80, 80);
}

.topbar .hamburger-menu.active>div {
    background-color: rgb(236, 226, 228);
    box-shadow: rgb(86, 86, 86) 0px 0px 20px -12px;
    transition-duration: .2s;
}

.dark .topbar .hamburger-menu.active>div {
    background-color: rgb(121, 121, 121);
}

.topbar nav {
    display: none;
}

.topbar nav ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topbar nav a {
    font-weight: 600;
    color: white;
}

.dark .topbar nav a {
    color: var(--primary-font-color);
}

.topbar .profilePic_wrapper {
    display: flex;
    align-items: center;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.topbar .profilePic_wrapper.active {
    border: solid 2px white
}

.topbar .profilePic_wrapper img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@media all and (min-width: 750px) {
    .topbar .logo {
        display: initial;
        margin: 0;
    }

    .topbar .hamburger-menu {
        display: none;
    }

    .topbar nav {
        display: initial;
    }
}

@media all and (min-width: 900px) {
    .topbar {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}
