
.topbar {
    z-index: 2;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(200, 170, 175);
    padding: 1rem;
    width: 100%;
}

.topbar .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.topbar .hamburger-menu>div {
    background-color: rgb(184, 154, 159);
    height: 5px;
    width: 35px;
    border-radius: 1px;
    box-shadow: inset rgb(86, 86, 86) 0px 0px 20px -12px;
    transition-duration: .2s;
}

.topbar .hamburger-menu.active>div {
    background-color: rgb(236, 226, 228);
    box-shadow: rgb(86, 86, 86) 0px 0px 20px -12px;
    transition-duration: .2s;
}
