
.topbar {
    z-index: 2;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(200, 170, 175);
    padding: 1rem;
    width: 100%;
}

.topbar a {
    text-decoration: none;
}

.topbar .logo {
    display: none;
    color: white;
}

.topbar .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: -1rem;
    cursor: pointer;
}

.topbar .hamburger-menu>div {
    background-color: rgb(184, 154, 159);
    height: 5px;
    width: 35px;
    border-radius: 1px;
    box-shadow: inset rgb(86, 86, 86) 0px 0px 20px -12px;
    transition-duration: .2s;
}

.topbar .hamburger-menu.active>div {
    background-color: rgb(236, 226, 228);
    box-shadow: rgb(86, 86, 86) 0px 0px 20px -12px;
    transition-duration: .2s;
}

.topbar nav {
    display: none;
}

.topbar nav ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topbar nav a {
    font-weight: 600;
    color: white;
}

@media all and (min-width: 750px) {
    .topbar .logo {
        display: initial;
        margin: 0;
    }

    .topbar .hamburger-menu {
        display: none;
    }

    .topbar nav {
        display: initial;
    }
}

@media all and (min-width: 900px) {
    .topbar {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}
