
#photos {
    width: 100%;
}

#photos * {
    color: var(--primary-font-color)
}

#photos>ul {
    --grid-layout-gap: 1rem;
    --grid-column-count: 3;
    --grid-item--min-width: 200px;

    /* Calculated values */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);

    list-style: none;
    margin: 0;
    padding: 1rem;
}

#photos ul li {
    position: relative;
}

#photos ul li .img_wrapper {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
}

#photos ul li .img_wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#photos ul li .photo_mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.3);
    padding: 1rem;
    opacity: 0;
    transition-duration: .2s;
    cursor: pointer;
}

#photos ul li .photo_mask * {
    color: lightgray;
}

#photos ul li .photo_mask.active {
    opacity: 1;
    transition-duration: .2s;
}

#photos ul li .photo_mask .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#photos ul li .photo_mask .flexbox h3 {
    display: block;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#photos ul li .photo_mask .flexbox .options {
    display: flex;
    gap: 2px;
    padding: .5rem .25rem;
    border: solid 1px lightgray;
    border-radius: 50%;
    cursor: pointer;
}

#photos ul li .photo_mask .flexbox .options div {
    background-color: lightgray;
    height: 2px;
    width: 2px;
    border-radius: 2px;
}

#photos ul li .photo_mask .flexbox .options:hover {
    border-color: var(--secondary-font-color);
}

#photos ul li .photo_mask .flexbox .options:hover div {
    background-color: var(--secondary-font-color);
}

#photos ul li .photo_mask .caption_wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
    max-height: 30%;
    overflow: hidden;
}

#photos ul li .photo_mask .caption_wrapper p {
    display: -webkit-box;
    max-width: 100%;
    margin: 0;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#photos ul li .photo-options-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#photos ul li .photo-options-section ul li {
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}

#photos ul li .photo-options-section ul li:hover {
    background-color: lightgrey;
}

.dark #photos ul li .photo-options-section ul li:hover {
    background-color: var(--hover-color);
}

#photos ul li .photo-options-section .popup_mask {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 750px;
    background-color: rgba(0, 0, 0, 0.273);
    opacity: 0;
    transition-duration: .2s;
}

#photos ul li .photo-options-section .confirm-delete_popup {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 1px 5px gray;
    transform: translateX(-50%);
}

.dark #photos ul li .photo-options-section .confirm-delete_popup {
    background-color: var(--primary-color);
    box-shadow: none;
}

#photos ul li .photo-options-section .popup_mask.active {
    z-index: 0;
    opacity: 1;
    transition-duration: .2s;
}

#photos ul li .photo-options-section .confirm-delete_popup button {
    font-weight: 500;
    color: white;
    background-color: var(--target-color);
    margin-right: .5rem;
    padding: .25rem .5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media all and (min-width: 750px) {
    #photos ul li .photo-options-section .popup_mask {
        left: calc(var(--sidemenu_max-width));
    }
}


@media all and (min-width: 1045px) {
    #photos>header {
        padding-top: 3rem;
        padding-left: 3rem;
        padding-right: 6rem;
    }

    #photos>ul {
        padding-left: 3rem;
        padding-right: 6rem;
        padding-bottom: 3rem;
    }
}
