
#photos {
    width: 100%;
}

#photos * {
    color: var(--primary-font-color)
}

#photos>ul {
    --grid-layout-gap: 1rem;
    --grid-column-count: 3;
    --grid-item--min-width: 200px;

    /* Calculated values */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);

    list-style: none;
    margin: 0;
    padding: 1rem;
}

@media all and (min-width: 1045px) {
    #photos>header {
        padding-top: 3rem;
        padding-left: 3rem;
        padding-right: 6rem;
    }

    #photos>ul {
        padding-left: 3rem;
        padding-right: 6rem;
        padding-bottom: 3rem;
    }
}
