
.entryForm-wrapper {
    display: block;
    margin: auto;
    padding: 1rem;
    max-width: 700px;
}

.entryForm-wrapper input {
    padding: 0.5rem;
    width: 100%;
    border: solid 1.5px grey;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.entryForm-wrapper .err-msg {
    position: relative;
    top: -.3rem;
    color: rgb(193, 3, 3);
}

.entryForm-wrapper button {
    font-weight: 600;
    color: white;
    background-color: dodgerblue;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.entryForm-wrapper .link {
    color: dodgerblue;
    cursor: pointer;
}
