
.sidemenu {
    z-index: 1;
    position: fixed;
    left: -100%;
    background-color: rgb(213, 213, 213);
    padding: 1rem;
    height: 100%;
    width: var(--sidemenu_width);
    transition-duration: .2s;
}

.sidemenu.active {
    left: 0;
    transition-duration: .2s;
}

.sidemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidemenu li {
    margin-bottom: .5rem;
}

.sidemenu a {
    text-decoration: none;
    color: black;
}

.sidemenu p {
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.sidemenu p:hover {
    background-color: rgb(174, 174, 174);
}

.sidemenu article {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 1rem 1rem;
    border-radius: 5px;
}

.sidemenu article:hover {
    background-color: rgb(174, 174, 174);
}

.sidemenu article h3 {
    font-size: 1rem;
    margin: 0;
}

.sidemenu article img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 5px;
}

@media all and (min-width: 750px) {
    .sidemenu {
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        max-width: var(--sidemenu_max-width);
        transition-duration: 2ms;
    }

    .sidemenu nav,
    .sidemenu hr {
        display: none;
    }
}

@media all and (min-width: 900px) {
    .sidemenu {
        padding-left: 6rem;
        max-width: var(--sidemenu_max-width);
    }
}
