
#settings {
    color: var(--primary-font-color);
    width: 100%;
    max-width: 750px;
}

#settings header {
    display: flex;
    margin-top: .5rem;
    padding-left: 1rem;
}

#settings header span {
    flex: 2;
    display: inline-block;
    text-align: center;
    background-color: var(--secondary-color);
    padding: .5rem .5rem;
    border: 1px solid var(--secondary-color);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

#settings header span.isActive {
    background-color: transparent;
}

.dark #settings header span {
    border-color: var(--secondary-color);
}

#settings header span:hover {
    background-color: var(--hover-color);
}

#settings header div {
    flex: 2.5;
    border-bottom: 1px solid var(--secondary-color);
}
