.section_mask {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.273);
    opacity: 0;
    transition-duration: .2s;
}

.section_mask.active {
    z-index: 1;
    opacity: 1;
    transition-duration: .2s;
}

.section {
    position: fixed;
    bottom: -350px;
    left: 0;
    background-color: white;
    padding: 1rem;
    height: 350px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0px 1px 5px gray;
    transition-duration: .2s;
}

.section.active {
    z-index: 2;
    bottom: 0;
    transition-duration: .2s;
}

.section header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: .5rem;
}

.section .close-icon_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.section .close-icon_wrapper:hover {
    background-color: grey;
}

.section .close-icon_wrapper .bar-1,
.section .close-icon_wrapper .bar-2 {
    position: relative;
    background-color: white;
    height: 12.5px;
    width: 1.5px;
    border-radius: 5px;
}

.section .close-icon_wrapper .bar-1 {
    top: 0px;
    left: .5px;
    rotate: 45deg;
}

.section .close-icon_wrapper .bar-2 {
    top: 0px;
    right: .5px;
    rotate: -45deg;
}

@media all and (min-width: 750px) {
    .section_mask {
        left: var(--sidemenu_max-width);
        width: calc(100% - var(--sidemenu_max-width));
    }

    .section_mask.active {
        left: var(--sidemenu_max-width);
        width: calc(100% - var(--sidemenu_max-width));
    }

    .section {
        left: var(--sidemenu_max-width);
        width: calc(100% - var(--sidemenu_max-width));
    }
}

@media all and (min-width: 1045px) {
    .section_mask {
        left: 400px;
        max-width: calc(750px);
    }

    .section_mask.active {
        left: 400px;
        max-width: calc(750px);
    }

    .section {
        left: 400px;
        max-width: calc(750px);
    }
}
