
.comments-section {
    width: 100%;
    max-width: 750px;
}

.comments-section * {
    color: var(--primary-font-color);
}

.comments-section ul {
    list-style: none;
    margin: 0;
    margin-bottom: 5.5rem;
    padding: 0;
}

.comments-section ul:first-child {
    margin-top: 1rem;
    border-top: solid 1px lightgrey;
}

.dark .comments-section ul:first-child {
    border-color: var(--secondary-color);
}

.comments-section ul li {
    padding: 1rem;
    border-bottom: solid 1px lightgrey;
}

.dark .comments-section ul li {
    border-color: var(--secondary-color);
}

.comments-section ul li .comment {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    /* Vars */
    --profile-pic_wrapper-width: 50px;
}

.comments-section ul li .comment a {
    text-decoration: none;
}

.comments-section ul li .comment .profile-pic_wrapper {
    height: 50px;
    min-width: 50px;
}

.comments-section ul li .comment .profile-pic_wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.comments-section ul li .comment div {
    max-width: 100%;
    overflow: hidden;
}

.comments-section ul li .comment h4 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .25rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comments-section ul li .comment p {
    margin: 0;
}

.comments-section footer {
    position: fixed;
    bottom: 0;
    width: inherit;
    max-width: inherit;
}

.comments-section footer form {
    display: flex;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 0px -1px 5px var(--box-shadow-color);
}

.dark .comments-section footer form {
    background-color: var(--primary-color);
}

.comments-section footer form textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    padding: 5px;
    width: 100%;
    border: solid 1px lightgray;
    border-radius: 10px;
    outline: none;
    resize: none;
}

.dark .comments-section footer form textarea {
    border-color: var(--secondary-color);
}

.comments-section footer form button {
    font-weight: 600;
    color: white;
    background-color: var(--target-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media all and (min-width: 750px) {
    .comments-section footer {
        max-width: calc(100% - var(--sidemenu_max-width));
    }
}

@media all and (min-width: 1045px) {
    .comments-section ul {
        margin-bottom: 6.5rem;
    }

    .comments-section ul li {
        padding-left: 3rem;
    }

    .comments-section footer {
        padding: 1rem 3rem;
    }

    .comments-section footer form {
        border-radius: 5px;
    }
}

@media all and (min-width: 1150px) {
    .comments-section footer {
        max-width: 750px;
    }
}
