
.options-section a {
    color: black;
}

.options-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.options-section ul li {
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}

.options-section ul li:hover {
    background-color: rgb(195, 195, 195);
    background-color: lightgrey;
}

.options-section .confirm-delete_popup {
    z-index: -1;
    position: fixed;
    top: 40%;
    left: 50%;
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 1px 5px gray;
    opacity: 0;
    transform: translateX(-50%);
    transition-duration: .2s;
}

.options-section .confirm-delete_popup.active {
    z-index: 1;
    opacity: 1;
    transition-duration: .2s;
}

.options-section .confirm-delete_popup button {
    font-weight: 500;
    color: white;
    background-color: rgb(200, 170, 175);
    margin-right: .5rem;
    padding: .25rem .5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media all and (min-width: 750px) {
    .options-section_mask {
        left: var(--sidemenu_max-width);
        width: calc(100% - var(--sidemenu_max-width));
    }

    .options-section_mask.active {
        left: var(--sidemenu_max-width);
        width: calc(100% - var(--sidemenu_max-width));
    }
}

@media all and (min-width: 1045px) {
    .options-section_mask {
        left: 400px;
        max-width: calc(750px);
    }

    .options-section_mask.active {
        left: 400px;
        max-width: calc(750px);
    }
}
