
.options-section a {
    color: black;
}

.options-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.options-section ul li {
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}

.options-section ul li:hover {
    background-color: rgb(195, 195, 195);
    background-color: lightgrey;
}

@media all and (min-width: 750px) {
    .options-section_mask {
        left: var(--sidemenu_max-width);
        width: calc(100% - var(--sidemenu_max-width));
    }

    .options-section_mask.active {
        left: var(--sidemenu_max-width);
        width: calc(100% - var(--sidemenu_max-width));
    }
}

@media all and (min-width: 1045px) {
    .options-section_mask {
        left: 400px;
        max-width: calc(750px);
    }

    .options-section_mask.active {
        left: 400px;
        max-width: calc(750px);
    }
}
