
.post {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    box-shadow: 0px 1px 5px gray;
}

.post a {
    text-decoration: none;
}

.post header {
    display: flex;
}

.post header a {
    color: black;
}

.post .profilePic-wrapper {
    border-radius: 5px;
}

.post img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.post .title {
    margin-left: 1rem;
}

.post .title h3 {
    font-size: 1rem;
    margin: .25rem 0;
}

.post .title span {
    color: grey;
    font-size: .85rem;
}

.post footer .top {
    display: flex;
    justify-content: space-between;
}

.post footer .top span, 
.post footer .top a {
    color: grey;
    font-size: .75rem;
}

.post footer hr {
    border-top: .5px solid rgb(190, 190, 190);
}

.post footer .bottom {
    display: flex;
    justify-content: space-between;
}

.post footer .bottom span,
.post footer .bottom a {
    color: grey;
    font-size: .9rem;
}

@media all and (min-width: 1045px) {
    .post {
        border-radius: 5px;
        margin: 3rem;
    }
}
