
.likes-section ul {
    margin: 0;
    padding: 0;
}

.likes-section li {
    list-style: none;
    margin-bottom: 1rem;
}

.likes-section a {
    text-decoration: none;
}

.likes-section .profile_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    border-radius: 5px;
}

.likes-section .profile_wrapper .profile-pic_wrapper {
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    border-radius: 50%;
}

.likes-section .profile_wrapper .profile-pic_wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.likes-section .profile_wrapper h3 {
    font-size: 1rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.likes-section .profile_wrapper:hover {
    background-color: lightgrey;
}

.dark .likes-section .profile_wrapper:hover {
    background-color: var(--hover-color);
}
