
.topbar {
    z-index: 3;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    padding: 1rem;
    min-height: var(--topbar-height);
    width: 100%;
    transition-duration: .2s;
    border-bottom: 1px solid var(--primary-color);
}

/* DARK */
.dark .topbar {
    border-color: var(--secondary-color);
}

.topbar a {
    text-decoration: none;
}

.topbar .flexbox-left_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.topbar .flexbox-left_wrapper .logo {
    display: none;
    color: white;
}

/* DARK */
.dark .topbar .flexbox-left_wrapper .logo {
    color: var(--primary-font-color);
}

.topbar .flexbox-left_wrapper .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: -1rem;
    cursor: pointer;
}

.topbar .flexbox-left_wrapper .hamburger-menu>div {
    background-color: var(--primary-color);
    height: 5px;
    width: 35px;
    border-radius: 1px;
    box-shadow: inset var(--topbar-box-shadow-color) 0px 0px 25px -12px;
    transition-duration: .2s;
}

.topbar .flexbox-left_wrapper .hamburger-menu.active>div {
    background-color: rgb(236, 226, 228);
    transition-duration: .2s;
}

/* DARK */
.dark .topbar .flexbox-left_wrapper .hamburger-menu.active>div {
    background-color: var(--secondary-color);
}

.topbar .flexbox-right_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.topbar .flexbox-right_wrapper nav {
    display: none;
}

.topbar .flexbox-right_wrapper nav ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topbar .flexbox-right_wrapper nav a {
    font-weight: 600;
    color: white;
}

/* DARK */
.dark .topbar .flexbox-right_wrapper nav a {
    color: var(--primary-font-color);
}

.topbar .flexbox-right_wrapper .profilePic_wrapper {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.topbar .flexbox-right_wrapper .profilePic_wrapper.active {
    outline: solid 2px white
}

.topbar .flexbox-right_wrapper .profilePic_wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@media all and (min-width: 750px) {
    .topbar .flexbox-left_wrapper .logo {
        display: initial;
        margin: 0;
    }

    .topbar .flexbox-left_wrapper .hamburger-menu {
        display: none;
    }

    .topbar .flexbox-right_wrapper nav {
        display: initial;
    }
}

@media all and (min-width: 900px) {
    .topbar {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}
