
.profileTop {
    width: 100%;
    height: 380px;
}

.profileTop .coverPhoto_wrapper {
    position: relative;
    width: 100%;
    height: 300px;
}

.profileTop .coverPhoto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileTop .coverPhoto_mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    cursor: pointer;
    transition-duration: .2s;
}

.profileTop .coverPhoto_mask:hover {
    opacity: 30%;
    transition-duration: .2s;
}

.profileTop .profilePic_wrapper {
    position: relative;
    top: -75px;
    display: table;
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 50%;
    border: solid 5px white;
}

.profileTop .profilePic {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profileTop .profilePic_mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 30%;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
    transition-duration: .2s;
}

.profileTop .profilePic_mask:hover {
    opacity: 30%;
    transition-duration: .2s;
}

@media all and (min-width: 1045px) {
    .profileTop {
        position: relative;
    }

    .profileTop .profilePic_wrapper {
        position: absolute;
        top: 150px;
        left: 3rem;
        height: 300px;
        width: 300px;
    }
}
